.logo {
  height: 64px;
  padding: 16px;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.1);
}

.header {
  padding: 0;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerRight {
  padding-right: 24px;
}

.content {
  margin: 24px;
  padding: 24px;
  background: #fff;
  min-height: 280px;
} 